body{
	font-family: Arial, sans-serif;
}

.loaderArea {
  background: linear-gradient(90deg, #F10 10%, #Fe5 90%);
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  z-index: 100000;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
}



.logo{
	color: #fff;
	font-size: 28px;
	line-height: 60px;
	padding-left: 250px;
	float: left;
    -webkit-animation: coming 2s ease;
    -o-animation: coming 2s ease;
    animation: coming 2s ease;    
}

@keyframes coming{
from(
opacity 0;
)
to(
opacity 1;
)
}

@keyframes topshift{
from(
opacity 0;
    margin: -80px;
)
to(
opacity 1;
    margin: 0px;
)
}

.menu{
	float: left;
	padding-left: 150px;
}
.menu li{
	float: left;
	line-height: 60px;
	color: #fff;
	padding-right: 20px;
	font-size: 16px;
	text-transform: uppercase;
     -webkit-animation: topshift 0.4s ease;
    -o-animation: topshift 0.4s ease;
    animation: topshift 0.4s ease;
}
.menu li a{
    color: #fff;
    transition: all 0.2s;
    transform: scale(1);
    display: inline-block;
}
.menu li a:hover{
    color: aqua;
    
    
}

.menu li a:active{
    transform: scale(1.1);
}

.main{
    width: 100%;
    height: calc(100% - 40px);
    background: url(../img/me.png) no-repeat 170% 60%/auto 110% , url(../img/bg.jpg) center/cover no-repeat;
}
.title_container{
    float: left;
    color: #344051;
    text-align: center;
    margin: 230px 0px 0px 200px;
}
.title_container h1{
    font-size: 40px;
    font-weight: bold;
}
.title_container h4{
    margin-top: 20px;
    font-size: 16px;
    color: #76828e;
}
.title_container input{
    margin-top: 30px;
    height: 40px;
    text-align: center;
    background: none;
    border: 2px solid #697784;
    border-radius: 4px;
    color:#697784; 
    font-size: 14px;
    padding: 0px 14px;
    margin: 30px 12px 0px 12px;
    transition: all 0.2s;
     transform: scale(1);
}
.title h2{
    color: #344051;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    border-bottom: 5px solid #eb7800;
    padding-bottom: 20px;
    width: 130px;
    display: block;
    padding-top: 30px;
    
    
}

.title_container input:hover{
    background: #344051;
    color: #fff;
}
.title_container input:active{
    transform: scale(1.1)
}

.words {
    height: 500px;
    background: url(../img/dude.jpg) no-repeat local;
    background-position: 50% 20%;
    padding-top: 50px;
    
    
}

 .words p{
     font-size: 15px;
     margin: 250px 250px 0px 250px;
     color: #616876
  
}

.title1 h2{
    color: #344051;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 200px;
    
}
.words input{
    margin-top: 30px;
    height: 40px;
    text-align: center;
    background: none;
    border: 2px solid #697784;
    border-radius: 4px;
    color:#697784; 
    font-size: 14px;
    padding: 0px 14px 0px 35px;
    margin: 40px 600px 0px 600px;
    background: url(../img/z.png) 10px no-repeat local;
    
}

.menu2 {
    height: 500px;
    background: url(../img/fo.jpg) 100% no-repeat;
    background-attachment: fixed;
}
.title2 h2{
    color: #344051;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 5px solid #eb7800;
    padding-bottom: 20px;
    width: 350px;
    margin: 0 auto;
    display: block;
    padding-top: 60px;
}
.menu2 li{ 
   float: left;
    text-align: center;
    font-size: 16px;
    color: #eb7800;
    font-weight: bold;
    margin: 130px 15px 0px 15px;
    background-image: url(../img/comp.png) no-repeat, url(../img/zna.png) 200px no-repeat;
    background-repeat: no-repeat;
} 
.menu2 li img{
    margin: 0 40% 10% 40%;
    
    
}
.menu2 li p{
    text-align: center;
    font-size: 14px;
    color: #616876;
    font-weight: normal;
}
.text{
    text-align: center;
    font-size: 16px;
    margin-top: 40px;
    color: #616876;
    background: url(../img/aga.jpg) no-repeat center 30px local;
    height: 600px;
    
}
.job {
    float: left;
    width: 310px;
    
}

.job li{
   float: inherit;
    text-align: left;
    font-size: 22px;
    color: #344051; 
    font-weight: bold;
    padding-left: 91px;
    padding-top: 20px;
}
.job li p{
    font-size: 18px;
    color: #344051; 
    padding: 1% 0%;
    font-weight: normal;}

.job input{
    float: left;
    height: 40px;
    width: 200px;
    text-transform: uppercase;
    text-align: center;
    background: #63b5ae;
    border: 2px solid #63b5ae;
    border-radius: 4px;
    color:#fff; 
    font-size: 15px;
    padding: 0px 14px 0px 14px;
    margin: 10px 0px 0px 0px;
    
}

.project {
    
    padding-left: 150px;
}
.project h3{
    
    font-size: 22px;
    color: #344051; 
    font-weight: bold;
    margin: 20px 600px 0px 400px;
}
.project p{
    
    font-size: 18px;
    color: #344051; 
    font-weight: normal;
    text-align: left;
    padding: 5px 300px;
}

ul.variant h3{
    text-transform: uppercase;
    font-size: 22px;
    color: #344051; 
    font-weight: bold;
    margin: 20px 300px;
}
select#list {
    border: 0px solid #63b5ae;
    background: #eee;
     height: 40px;
    width: 750px;
    margin: 0px 300px 10px 300px;
}
.numeral{
     height: 490px;
    background: url(../img/fon.jpg) no-repeat center 30px local;
}
ul.numeral li{
    float: left;
   
    font-size: 22px;
    color: #344051; 
    font-weight: bolder;
    text-align: center;
   margin: 160px 70px 250px 70px;
}
.numeral li img{
    margin: 0 40% 10% 40%;
}
ul.numeral p{
     font-size: 15px;
    color: #344051; 
    font-weight: normal;
    text-transform: uppercase;
    padding: 10px;
}
.moretext{
    height: 350px;
    background: url(../img/man.jpg) no-repeat local;
    background-position: 50% 25%;
    padding-top: 50px;
}
.moretext p{
    font-size: 15px;
     margin: 200px 250px 0px 250px;
     color: #616876;
    text-align: center;
}
.moretext p#man{
     margin: 40px 250px 0px 250px;
}
.title3 h2{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-bottom: 5px solid #eb7800;
    padding-bottom: 20px;
    width: 200px; 
    padding-top: 80px
}
.place{
    
    height: 800px;
    background: url(../img/blue.jpg) no-repeat center 30px local;
}
.place p{
    float: left;
    color: #fff;
    font-size: 15px;
    text-align: center;
    margin: 40px 240px 0px 315px;
}
.place li{
    float: left;
    color: #fff;
    font-size: 17px;
    text-align: center;
    margin: 100px 70px 0px 200px;
}
.place li img{
    margin: 0 40% 10% 40%;
}
.li {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 80px 70px 0px 200px;
    
}
.title4 h3{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 20% 30% 0% 30%;
}
.place2 input#names{
    
    border: 0px solid;
    background: #eee;
     height: 40px;
    width: 338px;
    margin: 50px 0px 0px 350px;
}
.place2 input#name{
    
    border: 0px solid;
    background: #eee;
    height: 40px;
    width: 338px;
    margin: 50px 0px 0px 20px;
}
.place2 textarea{
    border: 0px solid;
    background: #eee;
    height: 100px;
    width: 700px;
    margin: 20px 100px 0px 350px;
}

.put input#put{
    border: 2px solid #fff;
    border-radius: 5px;
    background: none;
    color: #fff;
    height: 40px;
    width: 100px;
    margin: 2% 48%;
}
.map{
    background: url(../img/map.jpg) no-repeat 100% local;
    height: 356px;
}
footer{
    width: 100%;
    height: 90px;
    background: #344051;
}
.end p{
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding: 2.5%;
}
